# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Optional: ignore build or dist folders if you compile your code
dist/
build/
